/*
Creator: Erin Verbeck
Date created: 12/7/2018
Date last modified: 12/16/2018
*/

body {
	background-color: #a51818;
	font-family: verdana, geneva, sans-serif;
	color: #ffffff;
	/*max-width: 900px;
	margin: 0 auto;*/
	height: 100%;
}

header, footer {
	background-color: #ffffff;
	color: #69411f;
	/*height: 100px;*/
	text-align: center;
}

.jumbotron {
	background-color: #ffffff;
	color: #69411f;
}

.noJavaScript {
	text-align: center;
	color: yellow;
	font-size: 2.5em;
}

.right-content {
	float: left;
	padding: 5px 10px;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width:100%;
}

nav .btn {
	background-color: #dddf3b;
	color: #a51818;
}

nav .btn:visited {
  color: blue;
}

nav .btn:hover {
  text-decoration: none;
  font-weight: bold;
}

nav .btn:active {
  text-decoration: none;
}

#welcomeGreeting {
	text-align: center;
	margin-top: 15px;
}

#mainPic {
	max-width: 100%;
}

.carousel-item {
	width: auto;
}

.carousel-inner {
	width: auto;
	margin-bottom: 200px;
}

#submitButton {
	background-color: #dddf3b;
	color: #a51818;
}

