/*
Creator: Erin Verbeck
Date created: 12/7/2018
Date last modified: 12/7/2018


Your header and footer must match across the pages, so store their styles in an external file called restaurantStyles.css.*/

body {
	background-color: #a51818;
	font-family: verdana, geneva, sans-serif;
	color: #ffffff;
	/*max-width: 900px;
	margin: 0 auto;*/
	height: 100%;
}

header, footer {
	background-color: #ffffff;
	color: #69411f;
	/*height: 100px;*/
	text-align: center;
}

.jumbotron {
	background-color: #ffffff;
	color: #69411f;
}

footer {
/*	position: absolute;
	bottom: 0; */
	width:100%;
}

#restaurantBurger{
	display:block; 
	margin-left: 30%; 
	margin-right: 20%;
}

nav .btn {
	background-color: #dddf3b;
	color: #a51818;
}

nav .btn:visited {
  color: blue;
}

nav .btn:hover {
  text-decoration: none;
  font-weight: bold;
}

nav .btn:active {
  text-decoration: none;
}

.carousel-item {
	width: auto;
	height: 225px;
	max-height: 225px;
}

.carousel-inner {
	width: auto;
	height: 400px;
	max-height: 400px;
}


h5 {
	text-align: center;
	bottom: 100px;
	right: 30px;
	font-size: 2.5em;
	color:white;

}

#drinkPic {
	color:yellow;
	font-size: 2.5em;
}

#ribbon {
	color:#a51818;
	font-size: 1.5em;

}

#seasonalMenu {
	font-size: 1.5em;
}

#welcomeGreeting {
	text-align: center;
	margin-top: 15px;
}

#submitButton {
	background-color: #dddf3b;
	color: #a51818;
}